@{
    ViewBag.Title = "Coordinator Info";
}

<html ng-app="myApp">
<head>
    <title></title>
    <script src="~/Content/angularjs-dropdown-multiselect.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="~/Content/Controller/CodController.js"></script>
    @*<script src="~/Content/Module.js"></script>

        <script src="~/Content/dirPagination.js"></script>*@

    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            border: none;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>

<body>
    <div class="container" style="background-color:white;" ng-controller="coodinatorcontroller">
        <br />

        
        <form class="form-inline">
            <div class="form-group" style="float:left;">
                <b>First Name: </b>
                <input type="text" placeholder="Search" class="form-control" ng-model="search.FirstName" />
                <b>Last Name: </b>
                <input type="text" placeholder="Search" class="form-control" ng-model="search.LastName" />
            </div>

            <div style="float:right;padding-right:75px;">
                <input type="button" class="btn btn-success btn-lg" ng-click="createCoordinator();"
                       value="Add COD" style="margin-left: 15px;" data-toggle="modal" data-target="#myModal" />
            </div>
            <div style="clear:both;"></div>
        </form>
        <br />

        <table cellpadding="12" class="table table-bordered table-hover table-striped">
            <tr class="success">
                <th style="cursor: pointer;" ng-click="sort('FirstName')"><b>FirstName</b></th>
                <th style="cursor: pointer;" ng-click="sort('LastName')"><b>LastName</b></th>
                <th style="cursor: pointer;" ng-click="sort('gender')"><b>Gender</b></th>
                <th style="cursor: pointer;" ng-click="sort('Email')"><b>Email</b></th>
                <th style="cursor: pointer;" ng-click="sort('PhoneNumber')"><b>PhoneNumber</b></th>
                <th style="cursor: pointer;" ng-click="sort('BranchName')"><b>Branchname</b></th>
                <th style="cursor: pointer;" ng-click="sort('Residency')"><b>Residency</b></th>
            
            </tr>
            <tr dir-paginate = "employee in CodData | orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:5"
                ng-model = "search" >
                <td>
                    {{employee.FirstName}}
                </td>
                <td>
                    {{employee.LastName}}
                </td>
                <td>
                    {{employee.Gender}}
                </td>
                <td>
                    {{employee.Email}}
                </td>
                <td>
                    {{employee.PhoneNumber}}
                </td>
                <td>
                    {{employee.BranchName}}
                </td>
                <td>
                    {{employee.Residency}}
                </td>
                
              </tr>
            <b style = "color: #5bc0de;" > Total Records </b>:

            <b>{{(CodData | filter: search: strict).length}} of </b>


            @*<b>{{filtered.length}}  all </b>*@
            <b>{{CodData.length}}</b>
        </table>


        <dir-pagination-controls max-size="10"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>


    </div>
</body>
</html>
