
@{
    ViewBag.Title = "Index";
    
}


<html ng-app="myApp">
<head>
    <title></title>
    <script src="~/Content/angularjs-dropdown-multiselect.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="~/Content/Service/CompanyService.js"></script>
    <script src="~/Content/Controller/CompanyController.js"></script>

   @*<script src=" ~/Content/Module.js"></script>

        <script src="~/Content/dirPagination.js"></script>*@
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            border: none;
            text-align: left;
            padding: 8px;
        }
    </style>

</head>

<body>
    <div class="container" style="background-color:white;" ng-controller="myCntrl">
        <br />

        <form class="form-inline">
            <h2><center>All company Detail</center></h2>
            <div class="form-group" style="float:left;">
                <b>Company Name : </b>
                <input type="text" placeholder="Search" class="form-control" ng-model="search.CompanyName" />
                <b>BranchName : </b>
                <input type="text" placeholder="Search" class="form-control" ng-model="search.BranchName" />



            </div>
           
            <div style="clear:both;"></div>
        </form>
        <br />

        <table cellpadding="12" class="table table-bordered table-hover table-striped">
            <tr class="success">
                <th style="cursor: pointer;" ng-click="sort('CompanyName')"><b>Company Name</b></th>
               
                <th style="cursor: pointer;" ng-click="sort('BranchName')"><b>Branch</b></th>
                <th style="cursor: pointer;" ng-click="sort('WebsiteName')"><b>Website</b></th>
                
            </tr>
            @*<tr dir-paginate="employee in filtered =(employees | orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:2)"*@
            <tr dir-paginate="employee in employees | orderBy:sortKey:reverse|filter:search:strict|itemsPerPage:5"
                ng-model="search">
                <td>
                    {{employee.CompanyName}}
                </td>
               
              
                <td>
                    {{employee.BranchName}}
                </td>
                <td>
                    <a href="http://{{employee.WebsiteName}}" target="_blank"> {{employee.WebsiteName}}</a>
                </td>
                
             </tr>
            <b style="color: #5bc0de;">Total Records </b>:

            <b>{{ (employees | filter: search:strict).length }}of</b>


            @*<b>{{filtered.length}}  all </b>*@
            <b>{{employees.length}}</b>
        </table>

        <dir-pagination-controls max-size="10"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>


</body>
</html>




