<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Template/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Template/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Template/css/font-awesome.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Template/js/jquery.min.js"></script>
    <!----webfonts--->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css' />
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Template/js/bootstrap.min.js"></script>

    <!-- css files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="keywords" content="free css template, orange bar, XHTML, CSS" />
    <meta name="description" content="Orange Bar is a free CSS template from templatemo.com" />
    <link href="~/Template/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src=" ~/Template/js/templatemo_image_fader.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
    </script>
</head>
<body>
    <div class="templatemo_container">
        <div id="templatemo_header">
            <div id="templatemo_logo_area">
                <div id="templatemo_logo">
                    <div class="header">

                        <img src="~/Template/images/SVIT-VASAD.png" alt="logo" /></div>
                        <a  target="_blank">SARDAR VALLABHBHAI PATEL INSTITUTE OF TECHNOLOGY</a>
                    </div>
                <div id="templatemo_slogan">
                    Managed by The New English School Trust (NEST), Vasad
                </div>
                <div class="cleaner"></div>
            </div>

          

            <div id="templatemo_menu">
                <ul>
                    <li><a href="~/Home/first">Home</a></li>
                    <li><a href="~/Home/index">login</a></li>
                    <li><a href=" ~/User/Placedstudent/PlacedStudentList">Placed Student</a></li>
                </ul>
            </div>

        </div><!-- end of header -->

        
               </div>
    <div id="slideshow">
        <div id="imgbar" class="img">
            <img src="~/Template/images/bg.jpg" />
            
        </div>
        <div id="imgbar" class="img">
            <img src="~/Template/images/clg1.JPG" />
            
        </div>
        <div id="imgbar" class="img">
            <img src="~/Template/images/clg5.jpg" />
        </div>
        <div id="imgbar" class="img">
            <img src="~/Template/images/clg2.png" />
        </div>
        <div id="imgbar" class="img">
            <img src="~/Template/images/clg4.jpg" />
         </div>

         <div id="imgbar" class="img">
            <img src="~/Template/images/clg5.jpg" />
         </div>
        </div>
    
    
</body>
</html>